/*
Copyright 2014, Daniel Beck and Karin Beck

This file is part of Green Mahjong.

Green Mahjong is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Green Mahjong is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Green Mahjong.  If not, see <http://www.gnu.org/licenses/>.
*/

/*
Groß: 
===
Aussen: 100x80
Innen: 95x75

Klein: 
=====
Aussen:60x48
Innen:57x45*/


html {
    /*background: #2f3d0d url(../images/background_fruits.jpg) no-repeat center center;*/
    /*background-attachment:  fixed;*/
    /*background-size: cover;*/
}

body{
    font:   15px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
div#background {
    z-index:-20;
    background: #2f3d0d url(../images/background_fruits.jpg) no-repeat center center;
    /*background-attachment:  fixed;*/
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
}
div#winningMessage {
    width: 200px;
    height: 280px;
    display: none;
    background-color: red;
    padding:25px;
    border-width: 2px;
    border-style: solid;
    border-color:#ffcc01;
    background-color: rgba(0,0,0,0.7);
    color:#ececea;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 80;
    text-align: center;
    margin: auto;
}

div.scene{
    z-index:20;
    background: #2f3d0d url(../images/background_fruits.jpg) no-repeat center center;
    /*background-attachment:  fixed;*/
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    color:#ececea;
    text-align: center;
    display: none;
}

div.scene h1,  div.scene h2{
    color:yellow;
}

div#startScreen{
    display: block ;
}

.button {
    -moz-box-shadow: 0px 1px 0px 0px #fff6af;
    -webkit-box-shadow: 0px 1px 0px 0px #fff6af;
    box-shadow: 0px 1px 0px 0px #fff6af;
    background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
    background-color:#ffec64;
    border-radius:6px;
    border:1px solid #ffaa22;
    display:inline-block;
    cursor:pointer;
    color:#333333;
    font-family:arial;
    font-size:20px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffee66;
}
.button:hover {
    /*    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
        background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
        background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);*/
    background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
    background-color:#ffab23;
}
.button:active {
    position:relative;
    top:1px;
}

div#loseMessage {
    width: 200px;
    height: 280px;
    display: none;
    background-color: red;
    padding:25px;
    border-width: 2px;
    border-style: solid;
    border-color:#ffcc01;
    background-color: rgba(0,0,0,0.7);
    color:#ececea;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 80;
    text-align: center;
    margin: auto;
}

div#versionInformationDialog{
    width: 80%;
    height: 70%;
    display: none;
    background-color: red;
    padding:15px;
    border-width: 2px;
    border-style: solid;
    border-color:#ffcc01;
    background-color: rgba(0,0,0,0.7);
    color:#ececea;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 80;
    /*text-align: center;*/
    margin: auto;
    font-size: 1.3rem;
}

div#versionInformationDialog section{ 
    width: 98%;
    height: 90%;
    padding: 10px;
    overflow-y: auto;
    padding:15px;
    /*font-size: 1.8rem;*/
}

div#versionInformationDialog section ul{ 
    font-size: 1.2rem;
}


div.game-buttons{
    position: fixed;
    z-index: 100;
    width:100%;
}

div.game-buttons.lowerbuttons{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,1));
    bottom:0px;
    right:0px;
}
div.game-buttons.upperbuttons{
    background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.5));
    top:0px;
    right:0px;
}

div.game-buttons ul{
    list-style: none;
    display:block;
    padding: 0;
}

div.game-buttons  ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.0rem;
    /*font-weight: bold;*/

}
div.game-buttons  ul li{
    width:50px;
    float: right;
    padding: 0 6px;
    text-decoration: none;
    text-align: center;
}

div.game-buttons ul li img{
    width:24px;
    height: 24px;
}

/*#game::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0.1rem;
    height: 1rem;
    margin-left: -0.1rem;
}*/
#game {
    display: box;
    /*margin: 0 auto;*/
    margin: auto;
    top:0;
    padding:9px;
    /*bottom:0;*/
    position:absolute;
    left:0;
    right:0;
}

.animated.hinge {
    -webkit-animation-duration: 1.1s;
    -moz-animation-duration: 1.1s;
    animation-duration: 1.1s;
}

@-webkit-keyframes hinge{
    0%{-webkit-transform:rotate(0);
       transform:rotate(0);
       -webkit-transform-origin:top left;
       transform-origin:top left;
       -webkit-animation-timing-function:ease-in-out;
       animation-timing-function:ease-in-out}
    20%{
        -webkit-transform:rotate(80deg);
        transform:rotate(80deg);
        -webkit-transform-origin:top left;
        transform-origin:top left;
        -webkit-animation-timing-function:ease-in-out;
        animation-timing-function:ease-in-out
    }
    40%{
        -webkit-transform:rotate(60deg);
        transform:rotate(60deg);
        -webkit-transform-origin:top left;
        transform-origin:top left;
        -webkit-animation-timing-function:ease-in-out;
        animation-timing-function:ease-in-out
    }
    80%{
        -webkit-transform:rotate(60deg) translateY(0);
        transform:rotate(60deg) translateY(0);
        -webkit-transform-origin:top left;
        transform-origin:top left;
        -webkit-animation-timing-function:ease-in-out;
        animation-timing-function:ease-in-out;
        opacity:1
    }
    100%{
        -webkit-transform:translateY(700px);
        transform:translateY(700px);
        opacity:0
    }}
@keyframes hinge{0%{-webkit-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0);-webkit-transform-origin:top left;-ms-transform-origin:top left;transform-origin:top left;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out}20%,60%{-webkit-transform:rotate(80deg);-ms-transform:rotate(80deg);transform:rotate(80deg);-webkit-transform-origin:top left;-ms-transform-origin:top left;transform-origin:top left;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out}40%{-webkit-transform:rotate(60deg);-ms-transform:rotate(60deg);transform:rotate(60deg);-webkit-transform-origin:top left;-ms-transform-origin:top left;transform-origin:top left;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out}80%{-webkit-transform:rotate(60deg) translateY(0);-ms-transform:rotate(60deg) translateY(0);transform:rotate(60deg) translateY(0);-webkit-transform-origin:top left;-ms-transform-origin:top left;transform-origin:top left;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;opacity:1}100%{-webkit-transform:translateY(700px);-ms-transform:translateY(700px);transform:translateY(700px);opacity:0}}
.hinge{-webkit-animation-name:hinge;animation-name:hinge}

@media (min-height:405){
    #game{   
        bottom:0;
    }
}

@-moz-document url-prefix() { 
    #game {
        bottom:0;
    }
}


div.layoutSelection{
    border: 5px solid #ff0 ;
    margin-top:20px; 
    margin-left: 20px;
    display: inline-block; 
    position: relative;
}


/*@media (max-width:650){
        div#layouts{
            clear:both;
        }
}*/
div.newline{
    /*display: none;*/
    display:none;
    /*border: 5px solid #f00 ;*/
    /*margin-left: 20px;*/
}

@media (min-width: 651px){
    div.newline.even{
        /*display: none;*/
        display:block;
        /*border: 5px solid #f00 ;*/
        /*margin-left: 20px;*/
    }
}

#cards {
    position: relative;  
}

.card {
    opacity: 1;
    left: 72px;
    top: 0px;
    position: absolute;
}

.shadow {
    position: absolute;
}

.card-selected {
    -webkit-box-shadow: 0 0 5px 4px orange;
    box-shadow: 0 0 5px 4px orange;
}

body.hint-on .card {
    /*filter:grayscale(80%);*/
    -webkit-filter:grayscale(100%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
}
body.hint-on .card.card-matching {
    /*filter:grayscale(0%);*/
    -webkit-filter:none;
    filter: none;
}

body.hint-on li#activateHints{
    filter:grayscale(80%);
    -webkit-filter:grayscale(80%);
}
/*.card-matching {
  -webkit-filter: saturate(2) contrast(2);
  -moz-filter: saturate(2) contrast(2);
  filter: saturate(2) contrast(2);    
}*/
