/*
Groß: 
===
Aussen: 100x80
Innen: 95x75

Klein: 
=====
Aussen:60x48
Innen:57x45*/


html {
    background: #2f3d0d url(../images/background_fruits.jpg) no-repeat center center;
    background-attachment:  fixed;
    background-size: cover;
}

div#winningMessage {
    width: 200px;
    height: 280px;
    display: none;
    background-color: red;
    padding:25px;
    border-width: 2px;
    border-style: solid;
    border-color:#ffcc01;
    background-color: rgba(0,0,0,0.7);
    color:#ececea;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 80;
    text-align: center;
    margin: auto;
}


div.game-buttons{
    position: fixed;
    z-index: 100;
    width:100%;
}

div.game-buttons.lowerbuttons{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,1));
    bottom:0px;
    right:0px;
}
div.game-buttons.upperbuttons{
    background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.5));
    top:0px;
    right:0px;
}

div.game-buttons ul{
    list-style: none;
    display:block;
    padding: 0;
}

div.game-buttons  ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.0rem;
    /*font-weight: bold;*/

}
div.game-buttons  ul li{
    width:50px;
    float: right;
    padding: 0 6px;
    text-decoration: none;
    text-align: center;
}

div.game-buttons ul li img{
    width:24px;
    height: 24px;
}

#game {
    display: box;
    /*margin: 0 auto;*/
    margin: auto;
    top:0;
    bottom:0;
    position:absolute;
    left:0;
    right:0;
}
#cards {
    position: relative;  
}

.card {
    opacity: 1;
    left: 72px;
    top: 0px;
    position: absolute;
}

.shadow {
    position: absolute;
}

.card-selected {
    -webkit-box-shadow: 0 0 5px 4px orange;
    box-shadow: 0 0 5px 4px orange;
}

#game.hint-on .card {
    filter:grayscale(80%);
    -webkit-filter:grayscale(80%);
}
#game.hint-on .card.card-matching {
    filter:grayscale(0%);
    -webkit-filter:grayscale(0%);
}
/*.card-matching {
  -webkit-filter: saturate(2) contrast(2);
  -moz-filter: saturate(2) contrast(2);
  filter: saturate(2) contrast(2);    
}*/
