/*
Groß: 
===
Aussen: 100x80
Innen: 95x75

Klein: 
=====
Aussen:60x48
Innen:57x45*/

body {
  font-size: 16px;
}

#game {
  width: 1600px;
  height: 1100px;
  padding:12px;
  margin-top:12px;
}

#cards {
  width: 380px;
  height: 400px;
}
.card {
    border-radius: 14px;
    height: 141px;
    width: 113px;
    background: transparent url('../images/mahjong_verybigscreen.png');
}

.cardZahl1 {background-position: 0 0}
.cardZahl2 {background-position: -114px 0; }
.cardZahl3 {background-position: -228px 0;}
.cardZahl4 {background-position: -342px 0;}
.cardZahl5 {background-position: -456px 0;}
.cardZahl6 {background-position: -570px 0;}
.cardZahl7 {background-position: -684px 0;}
.cardZahl8 {background-position: -798px 0;}
.cardZahl9 {background-position: -912px 0;}

.cardBambus1 {background-position: -0 -141px;}
.cardBambus2 {background-position: -114px -141px;}
.cardBambus3 {background-position: -228px -141px;}
.cardBambus4 {background-position: -342px  -141px;}
.cardBambus5 {background-position: -456px -141px;}
.cardBambus6 {background-position: -570px -141px;}
.cardBambus7 {background-position: -684px -141px;}
.cardBambus8 {background-position: -798px -141px;}
.cardBambus9 {background-position: -912px -141px;}

.cardMuenze1 {background-position: -0 -282px;}
.cardMuenze2 {background-position: -114px -282px;}
.cardMuenze3 {background-position: -228px -282px;}
.cardMuenze4 {background-position: -342px -282px;}
.cardMuenze5 {background-position: -456px -282px;}
.cardMuenze6 {background-position: -570px -282px;}
.cardMuenze7 {background-position: -684px -282px;}
.cardMuenze8 {background-position: -798px -282px;}
.cardMuenze9 {background-position: -912px -282px;}

.cardNordwind {background-position: -1026px 0;}
.cardSuedwind {background-position: -1140px  0;}
.cardOstwind {background-position: -1254px 0;}
.cardWestwind {background-position: -1368px 0;}

.cardFruehling {background-position: -1026px -141px;}
.cardSommer {background-position: -1140px -141px;}
.cardHerbst {background-position: -1254px -141px;}
.cardWinter {background-position: -1368px -141px;}

.cardBambus {background-position: -1026px -282px;}
.cardPflaume {background-position: -1140px -282px;}
.cardOrchidee {background-position: -1254px -282px;}
.cardChrysantheme {background-position: -1368px -282px;}

.cardDracheGruen {background-position: -1482px 0;}
.cardDracheRot {background-position: -1482px -141px;}
.cardDracheWeiss {background-position: -1482px -282px;}