<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id = "de.beck.greenmahjong"
        version = "2.2.0"> 
  <name>Green Mahjong</name>

  <preference name="phonegap-version" value="3.6.3" />
  <preference name="permissions" value="none"/>

  <description>Green Mahjong is a nice opensource mahjong game.</description> 
  <author  href="http://daniel-beck.org">Daniel Beck</author>
  <access origin="*" />
  <content src="index.html" />
  <icon src="greenmahjong256.png"/>
  <preference name="android-minSdkVersion" value="16" />
  <!--  <gap:plugin name="org.apache.cordova.splashscreen" version="0.3.3" />
  -->  
  <preference name="splash-screen-duration" value="0" />
  <preference name="fullscreen" value="true" />

  <!--<preference name="orientation" value="landscape" />-->
</widget>
