<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id = "de.beck.greenmahjong"
        version = "0.9.0"> 
    <name>Green Mahjong</name>

    <description>Green Mahjong is a simple mahjong game.</description> 
    <author  href="http://daniel-beck.org">Daniel Beck</author>
    <!--<feature name="http://api.phonegap.com/1.0/contacts/"/>-->
    <!--<feature name="http://api.phonegap.com/1.0/file"/>-->
    <!--<feature name="http://api.phonegap.com/1.0/notification"/>-->
    <feature name="http://api.phonegap.com/1.0/network"/>
    <access origin="*" />
    <content src="index.html" />
    <icon src="greenmahjong.png"/>
    <preference name="EnableViewportScale" value="true" />
</widget>
