[Desktop Entry]
Name=Green Mahjong
Comment=A simple mahjong game
Exec=/usr/bin/qmlscene $@ /usr/share/greenmahjong/greenmahjong.qml
Icon=./greenmahjong.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true

